node_modules
npm-debug.log
dist
build
build_tmp
.git
.github
.vscode
*.local
*.env
**/.env
**/.env.local
**/.env.development
**/.env.production
**/coverage
**/cypress
**/.cache
**/.DS_Store
**/uploads
